body {
  background-color: rgb(41, 118, 234);
  display: flex;
  justify-content: center;
  /* Centers horizontally */
  align-items: center;
  /* Centers vertically */
  height: 100vh;
  /* Full height of the viewport */
  margin: 0;
}

.app-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.error-message {
  color: #ac1707;
  margin: 10px 0;
}

.weather-info {
  background: #425c09;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

.weather-info img {
  width: 100px;
  height: 100px;
  margin-top: 10px;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 30px;
  text-align: center;
}

.weather-form {
  display: flex;
  flex-direction: center;
  gap: 10px;
  max-width: 400px;
  width: 100%;
  margin: 20px auto;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
   height :30px;
}

button {
  padding: 10px 20px;
  background: #e6ea61;
  color: rgb(15, 22, 216);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  max-width: 500px;
  height: 50px;
}
.loading {
  color: #666;
  margin: 20px 0;
}

.error-message {
  color: #780303;
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #171b86;
  border-radius: 4px;
}

.weather-info {
  background: #00080f;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  margin: 20px auto;
}

h2 {
  color: rgb(132, 7, 7);
  margin-bottom: 10px;

}

h1 {
  text-align: center;
}


/* Responsive Design */

/* For smaller screens (,Ipad , mobile ...) */
@media (max-width: 768px) {
  .weather-card {
    padding: 15px;
    width: 90%;
  }

  .weather-icon img {
    width: 60px;
    height: 60px;
  }

  .weather-details p {
    font-size: 0.9rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  .weather-form input {
    width: 100%;
    margin-bottom: 40px;
  }

  .weather-form button {
    width: 100%;
    flex-grow: 1.2; 
  }
} 